@* @model BookViewModel *@

@{
    ViewBag.Title = "Error";
}

<div>
    <h1 class="display-4">Error</h1>

    <div><strong>@ViewBag.Message</strong></div>

    @* <p>Book Id : @Html.DisplayFor(model => model.BookId)</p>
    <p>Title : @Html.DisplayFor(model => model.Title)</p>
    <p>Author : @Html.DisplayFor(model => model.Author)</p>
    <p>Description : @Html.DisplayFor(model => model.Description)</p> *@

</div>