@model IEnumerable<bookish.Models.BookViewModel>
@{
    ViewData["Title"] = "Book Home Page";
    @* var book = ViewBag.BookViewModel; *@
}

<div class="text-center">
    <h1 class="display-4">Welcome Book Home Page</h1>

    @* <p>@book.Title</p>
    <p>@book.Author</p>
    <p>@book.Description</p>
    <p>@book.BookId</p> *@
    @* @foreach (var item in Model)
    {
        <p>@Html.DisplayFor(modelItem => item.Id)</p>
        <p>@Html.DisplayFor(modelItem => item.BookId)</p>
        <p>@Html.DisplayFor(modelItem => item.Title)</p>
        <p>@Html.DisplayFor(modelItem => item.Author)</p>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
    } *@
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.BookId)</th>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Author)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Id)
                    </a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.BookId)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
